.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-nav .nav-link {
  margin-right: 15px; /* Ajusta el margen según lo necesites */
}

.personas-list {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  max-width: 600px; /* Limita el ancho máximo de la lista */
}

.personas-item {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: calc(100% - 30px); /* Ajusta el ancho para que no ocupe toda la pantalla */
  max-width: 400px; /* Limita el ancho máximo para mantener la cuadratura */
  margin-left: auto;
  margin-right: auto;
}

.personas-item:hover {
  background-color: #e9ecef;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}
/* Navbar.css */

.navbar {
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f8f9fa !important;
}

.nav-link {
  color: #f8f9fa !important;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #adb5bd !important;
}

.nav-item {
  margin-left: 1rem;
}